
*{
	-fx-font-size:10pt;
	-fx-font-family:"NanumGothic" !important;
	
}

.statusList{

}

.visualGridPane{
	-fx-background-color:#ffffff !important;
}

.visualScrollPane{
	-fx-background-color:#ffffff !important;
	-fx-background: #FFFFFF;
   	-fx-border-color: #FFFFFF;
}

.visualScrollPane > .viewport{
	-fx-background-color:#ffffff !important;
	-fx-background: #FFFFFF;
   	-fx-border-color: #FFFFFF;
}

.readyQueue{
	-fx-background-insets:0;
	-fx-border-width:0px;
	-fx-padding:0px;
	-fx-background-color:#E5E5E5;
}

.readyQueue .split-pane {
	-fx-background-insets: 0; 
	-fx-padding: 0; 
}

.progressBar{
	-fx-background-radius:0.5em !important;
	-fx-border-radius:0.5em !important;
	
}

.tickSlider > .track{
	-fx-background-color:#ffffff;
}

.tickSlider > .thumb{
	-fx-pref-width:0px;
	-fx-pref-height:0px;
}


.ganttProgressBar > .bar {
  -fx-background-insets: 0;
  -fx-text-fill: #fff;
  -fx-text-alignment: center;
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.15), -1px, 0, 0, 0); 
 }

.ganttProgressBar > .track {
  -fx-pref-height: 10;
  -fx-effect: innershadow(gaussian, #eeeeee, 4, 0, 0, 1);
  -fx-background-color: #f5f5f5; 
  -fx-border-radius:5em;
  -fx-background-radius:5em;
 }

.nowRunning{
	-fx-background-radius:0.5em;
	-fx-border-radius:0.5em;
	-fx-alignment:CENTER;
	-fx-background-color:#E5E5E5;
	-fx-text-fill:#ffffff;
}

.controlBtn{
	-fx-border-radius:5em;
	-fx-background-radius:5em;
	-fx-padding:0 0 0 0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:-7 !important;
    -fx-opacity:0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:-7 !important;
    -fx-opacity:0;
}


.backgroundPane{
	-fx-background-color:#ffffff;
}

.toolBar{
	-fx-background-color:#E5E5E5;
}

.anchorPane{
	-fx-background-color:#ffffff;
}

.horizonBar{
    -fx-fill:#2B84D2;
    -fx-border-style:none;
    -fx-stroke-width:0;
}

.selectBox, .inputBox{

}

.ganttBackPane{
	-fx-background-color:#E5E5E5;
}

.listTable .table-row-cell:selected{
	-fx-text-fill:blue ! important;
	-fx-background-color:#E5E5E5 !important;
}

.listTable .table-cell{
	-fx-alignment:CENTER;
	-fx-background-color:#ffffff !important;
}

.listTable .column-header{
	-fx-background-color:#E5E5E5;
}

.list-control-btn{
	-fx-border-radius:5em;
	-fx-background-radius:5em;
	-fx-stroke-width:0;
}

.list-sort-btn{
	-fx-border-radius:0.5em;
	-fx-background-radius:0.5em;
	-fx-background-color:#E5E5E5 !important;
}

@import "bootstrapfx.scss"