
*{
	-fx-font-size:10pt;
	-fx-font-family:"NanumGothic" !important;
	
}

.controlBtn{
	-fx-border-radius:5em;
	-fx-background-radius:5em;
	-fx-padding:0 0 0 0;
}

.backgroundPane{
	-fx-background-color:#ffffff;
}

.toolBar{
	-fx-background-color:#E5E5E5;
}

.gridPane{
	-fx-background-color:#ffffff;
}

.anchorPane{
	-fx-background-color:#ffffff;
}

.horizonBar{
    -fx-fill:#2B84D2;
    -fx-border-style:none;
    -fx-stroke-width:0;
}

.selectBox, .inputBox{

}

.ganttPane{
	-fx-background-color:#E5E5E5;
}


.listTable .table-cell{
	-fx-alignment:CENTER;
	-fx-background-color:#ffffff !important;
}

.listTable .column-header{
	-fx-background-color:#E5E5E5;
}

.list-control-btn{
	-fx-border-radius:5em;
	-fx-background-radius:5em;
	-fx-stroke-width:0;
}

.list-sort-btn{
	-fx-border-radius:0.5em;
	-fx-background-radius:0.5em;
	-fx-background-color:#E5E5E5 !important;
}

@import "bootstrapfx.scss"